@font-face {
    font-family: 'ProximaNova-Bold';
  
    src: url('../fonts/ProximaNova-Bold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.ttf')  format('opentype'),
           url('../fonts/ProximaNova-Bold.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'ProximaNova-Regular';
  
    src: url('pt-sans-caption.woff2')  format('woff2'),
    url('../fonts/ProximaNova-Regular.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.ttf')  format('opentype'),
           url('../fonts/ProximaNova-Regular.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'ProximaNova-Semibold';
  
    src: url('pt-sans-caption.woff2')  format('woff2'),
    url('../fonts/ProximaNova-Semibold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Semibold.ttf')  format('opentype'),
           url('../fonts/ProximaNova-Semibold.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'ProximaNova-Extrabld';
  
    src: url('pt-sans-caption.woff2')  format('woff2'),
    url('../fonts/ProximaNova-Extrabld.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Extrabld.ttf')  format('opentype'),
           url('../fonts/ProximaNova-Extrabld.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }